<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>パスワード</title>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid ">
                <div class="user-block">
                    <h1 class="ui aligned header teal">ログインパスワードを設定する</h1>

                    <form class="ui form" method="post" action="/action/order/customer">

                        <div class="ui horizontal divider">パスワード設定</div>

                        <div class="ui statement">※「＊」は入力必須項目です。</div>

                        <table class="ui celled table">
                            <tbody>

                            <tr>
                                <td>
                                    <label>パスワード</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field">
                                        <input type="text" name="password" value=""/>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>パスワード(確認のため再度入力してください)</label>
                                    <p style="color:red;">＊</p>
                                </td>
                                <td>
                                    <div class="field">
                                        <input type="text" name="password" value=""/>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui column grid">

                            <div class="eight wide column right aligned">
                                <button class="ui teal button angle right icon">ログインする(完了)</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
